{%- comment %}<locksmith:b271>{% endcomment -%}
  {%- include 'locksmith' -%}
{%- comment %}</locksmith:b271>{% endcomment -%}

<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
<!-- Start of Shoplift scripts -->
{% render 'shoplift' %}
<!-- End of Shoplift scripts -->

    {{ locksmith_initializations }}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {%- render 'header-scripts.zipifypages', apprxhbl: zp_apprxhbl, renderctx: 'lsctn' -%}{{ content_for_header }}
  </head>
  <body>
    {{ content_for_layout }} 
    {%- render 'page-footer.zipifypages', renderctx: 'lsctn' -%}
  </body>
</html>